@model IEnumerable<Bulky.Models.Product>

@{
    ViewData["Title"] = "Index";
}

@*
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p> *@
<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6 text-primary">
            <h4>Product List</h4>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Upsert" class="btn btn-primary"><i class="bi bi-file-plus"></i>Create New Product</a>
        </div>
    </div>
    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                @*   <th>
                @Html.DisplayNameFor(model => model.Description)
                </th> *@
                <th>
                    @Html.DisplayNameFor(model => model.ISBN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                @*  <th>
                @Html.DisplayNameFor(model => model.ListPrice)
                </th> *@
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                @*   <th>
                @Html.DisplayNameFor(model => model.Price50)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.Price100)
                </th> *@
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="~/js/product.js"></script>
}
